
body {
    box-sizing: border-box;
    width: 1200px;    
    margin: 2% auto;          
    font-family: 'roboto';
    position: relative;   
    @media screen and(max-width:450px){
        width:340px ;
    }
}


.link{
    visibility: hidden;
    font-weight: bold;
    text-align: center;    
    background-color: $clr-fond;
    border-radius: 5px;
    position:fixed;
    top:0%;
    left: 44%;
    right: 44%;
    width: 150px;
    a{
     text-decoration: none;
     color: #000000;
    }
    @media screen and(max-width:450px){       
       top: 0%;
       left: 30%;
       right: 30%;
    }   
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    padding: 5px 0px;   
    margin: 0%;
    width: 55rem;
    height: 61px;
    position: absolute;
    top:1%;
    left:0%;
    z-index:1;    
   
    &__logo {
      
        &--link {
            display: block;
            width: 8rem;
            height: 100%;
            & img {
                width: 100%;
                height: auto;
            }
        }
      
    }
    &__navBar {
        margin: 0 2%;
        & > a {
            text-decoration: none;           
            border: $bordure; 
            padding: $marge-interieur;
            border-radius: 20px;
            margin: 0.1rem;  
            color: $clr-tertiaire;
            font-weight: bold;
            &:active {
                color: white;
                background-color:$clr-tertiaire;
            }         
           
            
                      
        }
        .active {
            color: white;
            background-color:$clr-tertiaire;
        }
       
    }
    @media screen and(max-width:450px){
        flex-direction: column;
        height: inherit;
        top: 0%;
        &__logo {
            align-self: flex-start;
            width: 3rem;        
        }
        &__navBar{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;                       
            margin: 2rem auto;             
            a {
                display: block;
                > span {
                    font-size: smaller;
                }               
            }
        } 
        width: 100%;         
        justify-content: center;        
    }   
}


.main {
    display: grid;
    grid-template-rows: 5rem 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 5%;
    column-gap: 3%;
    padding-top: 5px;
 
    &__title {
        grid-row: 1;
        grid-column:3;
        color: $clr-primaire;
        justify-self: center;
        align-self: end;
        margin-top:3px;
      
       @media screen and(max-width:450px){       
          
            font-size: medium;
            align-self: flex-end;
            margin: 2% ;           
        }


    }

    @include descriptionPhotog(__bloc);

   &__bloc:nth-child(2) {
        grid-row: 2;
        grid-column: 1;        
    }
    &__bloc:nth-child(3) {
        grid-row: 2;
        grid-column: 2;
    }
    &__bloc:nth-child(4) {
        grid-row: 2;
        grid-column: 3;
    }
    &__bloc:nth-child(5) {
        grid-row: 3;
        grid-column: 1;
    }
    &__bloc:nth-child(6) {
        grid-row: 3;
        grid-column: 2;
    }
    &__bloc:nth-child(7) {
        grid-row: 3;
        grid-column: 3;
    }
    @media screen and(max-width:450px){       
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column; 
        &__bloc:nth-child(2) {
            margin-top:  7rem;      
        }
      
        &__bloc:nth-child(3) {
           margin: $marge;
        }
        &__bloc:nth-child(4) {
           margin: $marge;
        }
        &__bloc:nth-child(5) {
           margin: $marge;
        }
        &__bloc:nth-child(6) {
            margin: $marge;
        }
        &__bloc:nth-child(7) {
            margin: $marge;
        }
         
    }
   
}


