
.header-photog {
       
    &__logoBloc {
       
       margin-bottom: 1rem;
       width: 130px;
       height: 25px;
        & a {
           
            & > img {
                width: 100%;
                height: auto;
            }
        }
    }
   
   
    &__bloc {
        padding: 30px;   
        color: $clr-secondaire ; 
        font-weight: normal; 
        font-style: normal;
        background-color: $clr-quaternaire;
        position: relative;
        & a {
            text-decoration: none;
            color:inherit;
        }
        & .address {
            color: $clr-tertiaire;
            font-size: 13px;
        } 
        & .tag {
            color:#000000;
            font-size: 12px;
        } 
        & .price {
            color: $clr-gris-clair;
            font-size: 9px;
        } 
      
        &--blocTag {
            & > a span {
                border: 1px solid $clr-bordure;
                border-radius: 20px;
                margin: 0.1rem;
                padding: $marge-interieur;
                font-weight: bolder;
                color: $clr-tertiaire;
            }
        }
        &--button {
            width: 150px;
            height: 3rem;
            line-height: 3rem;
            color: white;
            background-color: $clr-primaire;
            border-radius: 5px;
            text-align: center;
            position: absolute;
            top: 3.5rem;
            left: 27rem;
            cursor: pointer;
        }
        &--photo {
            position: absolute;
            top: 25%;
            right: 5%;
            width: 150px;
            height: 150px;
            margin: auto;
            & img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        //modal form 
        & .bground {
            display: none;
            position: fixed; 
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(#ffff, .7);
            &__content {
                position: relative;
                color: black;
                margin: 5% auto;
                padding: 5px 10px;
                max-width: 500px;                
                background: $clr-fond;
                &--close {
                    position: absolute;
                    top: 15px; 
                    right: 8px;
                    width: 36px;
                    height: 36px;
                    cursor: pointer;
                    opacity: 1;
            
                    &::before {
                       @include pseudo-element(0px, 15px, white);
                        transform: rotate(45deg);
                    }
                    &::after {
                        @include pseudo-element(0px, 15px, white);
                        transform: rotate(-45deg);
                    }
                }
                &--close:hover{
                     color: blue;
                }
                &--contactName {
                  margin: 12px
                }                
                &--modal-body {
                    padding: 5px 3%;
                    margin: 10px auto;
                    & label {
                        margin-bottom: 10px;
                    }
                    &  .text-control {
                        width: 100%;
                        margin: 3px;
                        height: 30px;
                        border-radius: 3px;
                        border-style: none;
    
                    }
                    
                    & .textarea-control {
                        width: 100%;
                        margin: 3px;
                        border-radius: 3px;
                        border-style: none;
                       // height: 150px;                
                    }
                    & .btn-submit {
                        display: block;
                        background-color: $clr-primaire;
                        width: 120px;
                        height: 50px;
                        margin: 2rem 0;
                        border: 0;
                        color: white;
                        text-align: center;
                        border-radius: 5px;
                        font-size: 1.2rem;
                        cursor: pointer;
                       
                    }
                }
               
            }
        }

    }  
}
 
.realisation {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
    justify-items: flex-start;
    &__menu {
        @media screen and(max-width:450px){   
            display: none;
        }
        justify-self: flex-start;

        display: flex;
        flex-direction: row;
        width: 215px;
        height: 50px;
        margin: 1rem 2rem 2rem  0rem;
        color: white;
        &--parag{
          width: 130PX ;
          margin: 12PX auto;
          padding: 0;
          color: black;
          font-weight: 600;
          
        }
        .selector {
            width: 100%;
            height: 100%;           
            margin-left: .5rem;
            background-color: $clr-primaire; 
            position: relative;
            border-radius: 5px;
           

            &__selectfield {
                height: 100%;              
                padding: 12px;
                box-sizing: border-box; 
               // border-radius: 5px;
                cursor: pointer;

                &--arrow {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 1.5rem;
                    height: 100%;
                    display: block;   
                    pointer-events: none;         
                 
                    i {
                      position: absolute;
                      top: 7px;
                      right: 7px;
                      //transform: rotate(-90deg);
                      
                    } 
                    .rotate {
                        transform: rotate(180deg);                       
                    }              
                }
            }

            &__selectfieldlist {
               background-color: $clr-primaire;                 
                width:100%;
                padding: 0 5px 5px 5px; 
                margin: 0;               
                color:white;                
                font-size: 1.2rem;
                box-sizing: border-box;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                overflow: hidden;
               
                &--option {                                  
                    cursor: pointer;
                    list-style-type: none;
                    padding: 10px;
                    &:hover {
                        background-color: rgba( $clr-primaire, 0.5);
                    }

                }
                &--option:nth-child(2){
                    border-top: 1px solid white;
                    border-bottom: 1px solid  white;
                }

            }
            .hide {
                visibility: hidden;
            }
           
        }
    }
    &__contentPhoto {      
        display: grid;       
        grid-template-columns: repeat(3, 1fr);
        gap: 6%;
            
        &--bloc {
            @include dim-bloc-photo;
            border-radius: 5px;
            cursor: pointer;            
            margin: 0 0 5% 0;            
            padding: 0;
            & img {
                @include tailleImage;
                border-radius: 5px;
                object-fit: cover;
            }
            & video {
               width: 350px;
               height: 100%;
               pointer-events: none;
               border-radius: 5px;  
               object-fit: cover;                           
            }
        }
     
        &--text {          
            margin: .7rem 0rem;
            color: $clr-primaire;
            font-size: medium;
            font-weight: 700;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .text{
                flex-grow: 2;
            }
           .likes {
               margin: 0 4px;
            }

            button {
                color: $clr-primaire;
                background: none;
                border: 0;
                padding: 0;
                font-size: 16px;
                &:hover, :focus {
                    cursor: pointer;  
                }       
            }
            
            & .screen-reader{
                display: none;
            }
        }
       
    
    }
  
    
}
.modal {
    display: none;       
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    z-index: 1;
    background-color: white;
    color: $clr-primaire;
    overflow: auto;

    &__content {
        max-width: 80%;       
        margin: 2% 10%;    
        position: relative;
              
        &--close {
            position: absolute;
            right: 15px;
            top: 15px;
            width: 36px;
            height: 36px;
            cursor: pointer;
            opacity: 1;
        
            &::before {
                @include pseudo-element(0px, 15px, $clr-primaire);
                transform: rotate(-45deg);
    
            }
            &::after {
                @include pseudo-element(0px, 15px, $clr-primaire);
                transform: rotate(45deg);
            }
        }

        &--blocimage {  
            width: 700px;  
            height: 850px;        
            margin: 5% auto;
            cursor: inherit;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--lefticon {
            border: 0;
            background: none;
            color: inherit;
            position: absolute;
            left: 0;
            top: 50%;
            font-size: 4rem;
            cursor: pointer;
            opacity: 1;           
            &:hover, :focus {
                opacity: 0.6;
            }
        }
        &--righticon{
            border: 0;
            background: none;
            color: inherit;
            position: absolute;
            right: 0;
            top: 50%;
            font-size: 4rem;
            cursor: pointer;
            transition: opacity, 500ms;
            &:hover, :focus {
                opacity: 0.6;
            }
        }
        &--screen-reader {
            height: 1px;
            left: 0;
            overflow: hidden;
            position: absolute;
            top:-10000px;
            width: 1px;
        }
        
      
        &--text {
            display: inline-block;
            font-size: 140%;  
            margin-top: 2%;             
        }
       
    }
               
  
}
.total{
    width: 270px;
    height: 50px;
    position: fixed;    
    right: 15%; 
    bottom: 0%;
    border-radius: 5px;
    background-color: $clr-fond;
    display:  flex;
    justify-content: space-around;
    align-items: center;
    font-weight:300;
    font-size: 1.5rem ;
   
}

@include resposive-lesphotographers;
