@mixin tailleImage {
    width:100%;
    height:100%;
}
@mixin dim-bloc-photo {
    width: 350px;
    height: 300px;
}

@mixin pseudo-element($top, $left, $color) {
    content: "";
    position: absolute;
    top: $top;
    right: $left;
    width: 5px;
    height: 35px;
    font-weight: bolder;
    background-color: $color;
    cursor: pointer;
}




@mixin descriptionPhotog($selecteur) {
    overflow: hidden;
    &#{$selecteur} {                   
        text-align: center;        
        color: $clr-secondaire;       
        & a {
            text-decoration: none;
            color:inherit;
        }
        & .address {
            color: $clr-tertiaire;
            font-size: 13px;
        } 
        & .tag {
            color:#000000;
            font-size: 11px;
            font-weight: 400;
            line-height: 13px;
        } 
        & .price {
            color: $clr-gris-clair;
            font-size: 11px;
            font-weight: 400;
            line-height: 13px;
        } 
        &--photo {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: auto;
            overflow: hidden;
           & img {
                width: 100%;
                height: 100%;
                object-fit: cover;               
            }
        }
        &--blocTag {
            & > a span {
                border: 1px solid $clr-bordure;
                border-radius: 20px;
                margin: 0.1rem;
                padding: $marge-interieur;
                font-weight: bolder;
                color: $clr-tertiaire;
                font-size: smaller;
            }
        }


    }
    
}
@mixin resposive-lesphotographers {
    @media  screen and (max-width : 450px) {
            //section header
        .#{nth($photog-selecteurs,1)}{
                
            &__bloc {
                padding: 10px;                                          
                background-color: inherit;
                &--title {
                    font-size: 1.7em;
                }
                
                &--blocTag {
                    & > a span {                                                       
                        font-size: smaller;                           
                    }
                }
                &--button {                                      
                    height: 1.5rem;
                    line-height: 1.5rem;                                                         
                    position: fixed; 
                    top:inherit ;                   
                    left: 30%;
                    bottom: 4rem;                  
                }
                &--photo {                      
                    top: 20%;
                    right: 4%;
                    width: 90px;
                    height: 90px;                    
                }
            
                    //modal form 
                & .bground {
                   
                    background-color: rgba(#ffff, 1);
                    &__content {
                       
                        &--close {
                           transform: scale(0.7);                                                  
                        }
                       
                        &--contactName {
                        font-size: 1.5em;
                        }                
                        &--modal-body {
                            
                            & .btn-submit {                              
                                margin: 2rem auto; 
                                height:30px;                                                         
                            }
                        }                    
                    }
                }
            
            }
            
                
        }
            // section realisation
        .#{nth($photog-selecteurs,2)}{
           justify-items: center;
            &__menu{
                display: none;
            }
            &__contentPhoto {
                grid-template-columns: 1fr;
                gap: 0%;
                margin-top: 2rem;            
                row-gap: 1rem;                      
                &--bloc {
                    @include dim-bloc-photo;
                    width: 330px;
                    height: 250px; 
                    margin: 0 auto;                                                     
                    & video {
                       width: 330px;                                           
                    }
                }
                &--text {                   
                    font-size: smaller; 
                    margin: 2% 0%;                                    
                }                           
            }

        }  
        //modal
        .#{nth($photog-selecteurs,3)}{
            &__content {
                &--close::before {
                    height: 20px;
                    right: 7px;
                }
                &--close::after {
                    height: 20px;
                    right: 7px;
                }
                &--blocimage{
                    width: auto;
                    height: 350px;
                    margin: 2% 8%;
                    font-size: x-small;
                    img {
                        height: 300px;
                        border-radius: 5px;
                    }
                    video {
                        height: 300px;
                        border-radius: 5px;
                    }
                }
                &--lefticon { 
                   font-size: xx-large;
                }
                &--righticon { 
                    font-size: xx-large;
                }              
            }
        }
        //total
        .#{nth($photog-selecteurs,4)}{
            display: none;
        }
    }           
}




