// variables :
$clr-primaire:#911C1C;
$clr-secondaire:#D3573C;
$clr-tertiaire:#901C1C;
$clr-gris-clair:#757575;
$clr-quaternaire:#FAFAFA;
$clr-bordure: #c4c4c4;
$clr-fond:#DB8876;
$bordure : 1px solid $clr-bordure;
$marge-interieur: 2px 4px 2px;
$marge: 1rem;

//listes
$photog-selecteurs :(header-photog, realisation, modal, total);